.beerList-container {
  margin-top: 6rem;
  margin-right: 1rem;
  width: 65%;
  grid-template-columns: auto auto auto auto auto;
}

@media (max-width: 1200px) {
  .beerList-container {
    grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 850px) {
  .beerList-container {
    grid-template-columns: auto auto auto;
  }
}


@media (max-width: 500px) {
  .beerList-container {
    grid-template-columns: auto auto;
  }
}