.beerList-container {
  margin: 7rem 1rem 2rem 2rem;
  width: 65%;
  grid-template-columns: auto auto auto auto auto;
  height: 87%;
}

@media (max-width: 1440px) {
  .beerList-container {
    grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 850px) {
  .beerList-container {
    grid-template-columns: auto auto auto;
  }
}


@media (max-width: 500px) {
  .beerList-container {
    grid-template-columns: auto auto;
  }
}